*{margin:0}
@font-face {
    font-family: 'bangers';
    src: url('./fonts/Bangers.ttf');
  
  }
.menu-icon {
    height: 40px;
    width: 40px;
    transform: rotate(180deg);
}

.logo {
    font-family:"bangers";
    text-transform: uppercase;
    text-shadow: 0px 3px 3px gray;
    font-size: 2.5em;
    letter-spacing: 3px;
}

.logo span{
    color:#27ce78
}

.menu {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    background-color: #eff5fb;
    height: 100vh;
}